html, body {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

#logo {
   width: 300px;
}
leaflet-map {
    height: 100%;
}

.container {
    margin: 0 auto;
    width: 550px;
    padding: 0;
}

footer, header {
    text-align: center;
    background: #222B30;
    color: #fff;
	  margin: 0;
    padding: 100px 0;
}

header {
    position: fixed;
    width: 100%;
		top: 0;
    z-index: 1;
}

#content {
    position: relative;
    margin-top: 500px;
	  background: #fff;
    padding-top: 40px;
    z-index: 20;
    box-shadow: 0 -5px 20px #000;
}

code {
    display: block;
    font-family: 'Source Code Pro', monospace;
    background: #efefef;
    border-radius: 6px;
    padding: 0 15px;
    font-size: 12px;
    margin-bottom: 60px;
}

footer {
    padding: 20px 0;
}

a {
    color: #3887be;
}


header p {
    font-size: 12px;
}

h1 {
    font-family: 'Source Code Pro', monospace;
    margin: 0;
}

h2 {
    margin-top: 60px;
    margin-bottom: 0;
    color: #3887BE;
    font-weight: 700;
}

p {
    margin-top: 5px;
}

#polythings, #adding_markers, #getting_started {
    height: 300px;
}

#polythings_text {
    margin-top: 400px;
}

.tiles {
    height: 300px;
    width: 33.333%;
    float: left;
}
